<%- include ("../../_header" ) %>

    <body class="animsition">
        
        <%- include ("../../_sidebar" ) %>
            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <%- include ("../../_headerdesktop" ) %>
                <!-- MAIN CONTENT-->
                <div class="main-content">   
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">  
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="/index"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                                  <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-history"></i> ประวัติการแจ้งเหตุ</li>
                                </ol>
                              </nav> 
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <h2 class="title-1 m-b-25"><i class="fas fa-history"></i> ประวัติการแจ้งเหตุ</h2>
            <!-------------------------------------------- table ------------------------------------->
            <%JSON.stringify(history) %>
            <div class="table-responsive table-responsive-data3">
                <table class="table table-data3" id="datatable-history">
                    <thead>
                        <tr>
                            <th>รายละเอียด</th>
                            <th>สถานที่</th>
                            <th>สถานะ</th>
                            <th>กลุ่มรายงาน</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(history){%>
                            <% for(var i=0; i<history.length;i++){%>
                        <tr class="tr-shadow">
                            <td style="color: black;"><b><%= history[i].detail_al %></b></td>
                            <td>
                                <span class="block-email">สาขา:<%= history[i].name_br %> แผนก: <%= history[i].name_dpm %></span>
                            </td>
                            <td>
                                <%if(history[i].statusalertsid_al == 1){%><span style="color: black;"> <%= history[i].name_sta %></span><%}else if(history[i].statusalertsid_al == 2){%>
                                    <span class="role user"><%= history[i].name_sta %></span> <%}else if(history[i].statusalertsid_al == 3){%>
                                <span class="role member"><%= history[i].name_sta %></span><%}else{%> <span class="role admin"><%= history[i].name_sta %></span> <%}%> <br>
                                <span class="status--denied"><%= history_time[i].date %> <%= history_time[i].time %></span> <br>
                                <span class="status--process"><%= history_time[i].date_success %> <%= history_time[i].time_success %></span>
                            </td>
                            <td><%= history[i].name_group %></td>
                            
                        </tr>
                        <%}%>
                        <%}%> 
                    </tbody>
                </table>
            </div>
                    </div>
                </div>
            </div>
            </div>
    <script>
        // Get the modal
        var modal = document.getElementById('popup');
      
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
      </script>
      <%- include ("../../_credit" ) %>
        <!-- END MAIN CONTENT-->
        <%- include ("../../_footer" ) %>
  
    