<%- include ("../../_header" ) %>

    <body class="animsition">
        
        <%- include ("../../_sidebar" ) %>
            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <%- include ("../../_headerdesktop" ) %>
                <!-- MAIN CONTENT-->
                <div class="main-content">   
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">  
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="/index"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                                  <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-code-branch"></i> สาขา</li>
                                </ol>
                              </nav> 
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <h2 class="title-1 m-b-25"><i class="fas fa-code-branch"></i> สาขา</h2>
                        <div class="table-data__tool-right">
                            <a class="btn btn-success" style="color: white;"  onclick="document.getElementById('popup').style.display='block'">
                                <i class="zmdi zmdi-plus"></i> เพิ่มสาขา</a>
                        </div>
                        <div id="popup" class="modalx">
                            <form class="modal-content-popup animate" id="myform" action="/branch/save" method="POST" data-toggle="validator" >
                                <div class="imgcontainer">
                                    <span onclick="document.getElementById('popup').style.display='none'" class="close" title="Close Modal">&times;</span>  
                                </div>
                                <div class="container first">
                                    <p align="center"><b> เพิ่มสาขา</b></p><br>
                                    <label><b>ชื่อสาขา</b></label>
                                    <input type="text" name="name_br" class="form-control" id="fname" placeholder="กรุณากรอกชื่อสาขา" required/>    
                                    <button type="submit" class="btn btn-success">เพิ่มข้อมูล</button>
                                </div>
                
                            </form>
                        </div>

            <!-------------------------------------------- table ------------------------------------->
                        <div class="table-responsive table--no-card m-b-30">
                            <table class="table table-borderless table-striped table-earning" id="datatable">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>ชื่อสาขา</th>
                                        <th class="text-right">จัดการ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(branch){%>
                                        <% for(var i=0; i<branch.length;i++){%>
                                    <tr>
                                        <td><%= i+1 %> </td>
                                        <td><%= branch[i].name_br %></td>
                                    <td class="text-right">       
                                        <div class="account-wrap">
                                            <div class="account-item clearfix js-item-menu">
                                                <div class="content">
                                                    <div class="table-data-feature">
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                        <i class="zmdi zmdi-more"></i>
                                                    </button>
                                                </div>
                                                </div>
                                                <div class="account-dropdown js-dropdown">
                                                    <div class="account-dropdown__item">
                                                        <a href="/branch/edit<%= branch[i].idbranch %>" style="padding-right: 50%;">
                                                            <i class="fas fa-edit"></i> แก้ไขข้อมูล</a>
                                                    </div>
                                                    <div class="account-dropdown__item">
                                                        <a style="padding-right: 55%;" class="delete_branch" id="<%= branch[i].idbranch %>">
                                                            <i class="fas fa-trash-alt"></i> ลบข้อมูล</a>
                                                    </div>
                                                    <div class="account-dropdown__footer">
                                                        <a href="branch/department<%= branch[i].idbranch %>" style="padding-right: 60%;">
                                                            <i class="fas fa-home"></i> แผนกภายในสาขา</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                              
                                        </td>
                                        </tr>
                                    <%}%>
                                 <%}%> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                <% if(message.length > 0) { %>
                    <script>
                        swal.fire({
                        icon: "success",
                        title: "ทำการเพิ่มสาขาเรียบร้อย",
                        showConfirmButton: true,
                      },);
                    </script>
                <%}%>

                <% if(message_edit.length > 0) { %>
                    <script>
                        swal.fire({
                        icon: "success",
                        title: "แก้ไขข้อมูลเรียบร้อย",
                        showConfirmButton: false,
                        timer: 3500
                      },);
                    </script>
                <%}%>
            </div>
    <script>
        // Get the modal
        var modal = document.getElementById('popup');
      
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
      </script>
      <%- include ("../../_credit" ) %>
        <!-- END MAIN CONTENT-->
        <%- include ("../../_footer" ) %>
  
    