<%- include ("../../_header" ) %>

    <body class="animsition">
        <%- include ("../../_sidebar" ) %>
            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <%- include ("../../_headerdesktop" ) %>
                    <!-- MAIN CONTENT-->
                    
                    <div class="main-content">
                        <div class="section__content section__content--p30">
                            <div class="container-fluid">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                      <li class="breadcrumb-item"><a href="/index"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                                      <li class="breadcrumb-item"><a href="/branch"><i class="fas fa-code-branch"></i> สาขา</a></li>
                                      <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-edit"></i> แก้ไขสาขา</li>
                                    </ol>
                                  </nav>
                                <div class="row">
                                    <div class="col-lg-3"></div>
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-header"><b>แก้ไขข้อมูลสาขา</b> </div><% JSON.stringify(branch) %>
                                                <div class="card-body card-block">
                                                    <form action="/branch/update<%= branch.idbranch %>" method="post">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-group-addon"><b>ชื่อสาขา</b></div>
                                                                    <input type="text" id="username3" name="name_br" class="form-control" value="<%=branch.name_br%>">
                                                                    <div class="input-group-addon">
                                                                        <i class="fas fa-home"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                   
                                                        <div class="form-actions
                                                            form-group">
                                                            <button
                                                                type="submit" class="btn btn-success btn-sm">ตกลง</button>
                                                        </div>
                                                    </form>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include ("../../_credit" ) %>
                        <!-- END MAIN CONTENT-->

                        <%- include ("../../_footer" ) %>