<%- include ("../../_header" ) %>

    <body class="animsition">

        <%- include ("../../_sidebar" ) %>
            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <%- include ("../../_headerdesktop" ) %>
                <!-- MAIN CONTENT-->
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="/index"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                                  <li class="breadcrumb-item active" aria-current="page""><i class="fas fa-bell"></i> การแจ้งเหตุ</li>
                                </ol>
                              </nav>
                              <!-- -----------------------------------------------Tab---------------------------------------- -->
                              <h2 class="title-1 m-b-25"><i class="fas fa-bell"></i> การแจ้งเหตุ</h2>
                              <div class="card-body">
                                <div class="custom-tab">
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="custom-nav-home-tab" data-toggle="tab" href="#custom-nav-home" role="tab" aria-controls="custom-nav-home"
                                             aria-selected="true">รอการดำเนินการ</a>
                                            <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-profile" role="tab" aria-controls="custom-nav-profile"
                                             aria-selected="false">กำลังดำเนินการ</a>
                                            <a class="nav-item nav-link" id="custom-nav-contact-tab" data-toggle="tab" href="#custom-nav-contact" role="tab" aria-controls="custom-nav-contact"
                                             aria-selected="false">ดำเนินการสำเร็จ</a>
                                             <a class="nav-item nav-link" id="custom-nav-end-tab" data-toggle="tab" href="#custom-nav-end" role="tab" aria-controls="custom-nav-end"
                                             aria-selected="false">ดำเนินการไม่สำเร็จ</a>
                                        </div>
                                    </nav>
                                    <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="custom-nav-home" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                                            <div class="table-responsive table--no-card m-b-30">
                                                <table class="table table-borderless table-striped table-earning" id="datatable-wait">
                                                    <thead>
                                                        <tr>
                                                            <th>ลำดับ</th>
                                                            <th>รายละเอียดการแจ้งเหตุ</th>
                                                            <th>ข้อมูลการแจ้งเหตุ</th>
                                                            <th class="text-right">จัดการ</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if(alerts1){%>
                                                            <% for(var i=0; i<alerts1.length;i++){%>
                                                        <tr onclick="window.location.href ='/notification/detail<%= alerts1[i].idalerts %>'">
                                                            <td><%= i+1 %> </td>
                                                            <td> <span style="color: black;"><b><%= alerts1[i].detail_al %></b> </span>
                                                            </td>
                                                            <td><span style="color: blue;"><b> สาขา: <%= alerts1[i].name_br %> แผนก: <%= alerts1[i].name_dpm %></b> </span> <br>
                                                                <%= alerts1[i].date %> <%= alerts1[i].time %> <br>
                                                                ผู้แจ้ง: <%= alerts1[i].name_ps %></td>
                                                        <td class="text-right">
                                                            <div class="table-data-feature">
                                                                <button type="button" class="item assignment" data-toggle="modal" id="<%= alerts1[i].idalerts %>" data-target="#largeModal" title="มอบหมายงาน" style="background-color: #1E90FF;">
                                                                    <i class="zmdi zmdi-mail-send" style="color: white;"></i>
                                                                </button>
                                                            </div>
                                                            <div class="account-wrap">
                                                                <div class="account-item clearfix js-item-menu">
                                                                    <div class="content">
                                                                        <div class="table-data-feature">
                                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                                            <i class="zmdi zmdi-more"></i>
                                                                        </button>
                                                                    </div>
                                                                    </div>
                                                                    <div class="account-dropdown js-dropdown">
                                                                        <div class="account-dropdown__item">
                                                                            <a href="/notification/detail<%= alerts1[i].idalerts %>" style="padding-right: 50%;">
                                                                                <i class="fas fa-info-circle"></i> ดูรายละเอียดข้อมูล</a>
                                                                        </div>
                                                                        <div class="account-dropdown__item">
                                                                            <a style="padding-right: 55%;" class="delete_notification" id="<%= alerts1[i].idalerts %>">
                                                                                <i class="fas fa-trash-alt"></i> ลบข้อมูล</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            </td>
                                                            </tr>
                                                        <%}%>
                                                     <%}%>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-nav-profile" role="tabpanel" aria-labelledby="custom-nav-profile-tab">
                                            <div class="table-responsive table--no-card m-b-30">
                                                <table class="table table-borderless table-striped table-earning" id="datatable-do">
                                                    <thead>
                                                        <tr>
                                                            <th>ลำดับ</th>
                                                            <th>รายละเอียดการแจ้งเหตุ</th>
                                                            <th>ข้อมูลการแจ้งเหตุ</th>
                                                            <th class="text-right">จัดการ</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if(alerts2){%>
                                                            <% for(var i=0; i<alerts2.length;i++){%>
                                                        <tr onclick="window.location.href ='/notification/detail<%= alerts2[i].idalerts %>'">
                                                            <td><%= i+1 %> </td>
                                                            <td><span style="color: black;"><b><%= alerts2[i].detail_al %> </b></span>

                                                            </td>
                                                            <td>
                                                                <span style="color: blue;"><b>สาขา: <%= alerts2[i].name_br %> แผนก: <%= alerts2[i].name_dpm %></b></span><br>
                                                                    <%= alerts2[i].date %> <%= alerts2[i].time %> <br>
                                                                    ผู้แจ้ง: <%= alerts2[i].name_ps %>
                                                                    ผู้รับผิดชอบ: <%= alerts2[i].name_ps2 %>
                                                            </td>
                                                        <td class="text-right">
                                                            <!-- <div class="table-data-feature">
                                                                <button type="button" class="item success" data-toggle="modal" id="<%= alerts2[i].idalerts  %> " data-target="#mediumModalsuccess" title="สำเร็จ" style="background-color: #00FF7F;">
                                                                    <i class="fas fa-check-circle" style="color: white;"></i>
                                                                </button>
                                                                <button type="button" class="item fail" data-toggle="modal" id="<%= alerts2[i].idalerts %> " data-target="#mediumModalfail" title="ไม่สำเร็จ" style="background-color: #FF0000;">
                                                                    <i class="far fa-times-circle" style="color: white;"></i>
                                                                </button>
                                                            </div>         -->
                                                            <div class="account-wrap">
                                                                <div class="account-item clearfix js-item-menu">
                                                                    <div class="content">
                                                                        <div class="table-data-feature">
                                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                                            <i class="zmdi zmdi-more"></i>
                                                                        </button>
                                                                    </div>
                                                                    </div>
                                                                    <div class="account-dropdown js-dropdown">
                                                                        <div class="account-dropdown__item">
                                                                            <a href="/notification/detail<%= alerts2[i].idalerts %>" style="padding-right: 50%;">
                                                                                <i class="fas fa-info-circle"></i> ดูรายละเอียดข้อมูล</a>
                                                                        </div>
                                                                        <div class="account-dropdown__item">
                                                                            <a style="padding-right: 55%;" class="delete_notification" id="<%= alerts2[i].idalerts %>">
                                                                                <i class="fas fa-trash-alt"></i> ลบข้อมูล</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            </td>
                                                            </tr>
                                                        <%}%>
                                                     <%}%>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <% JSON.stringify(alerts3)%>
                                        <div class="tab-pane fade" id="custom-nav-contact" role="tabpanel" aria-labelledby="custom-nav-contact-tab">
                                            <div class="table-responsive table--no-card m-b-30">
                                                <table class="table table-borderless table-striped table-earning" id="datatable-success">
                                                    <thead>
                                                        <tr>
                                                            <th>ลำดับ</th>
                                                            <th>รายละเอียดการแจ้งเหตุ</th>
                                                            <th>ข้อมูลการแจ้งเหตุ</th>
                                                            <th class="text-right">จัดการ</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if(alerts3){%>
                                                            <% for(var i=0; i<alerts3.length;i++){%>
                                                        <tr onclick="window.location.href ='/notification/detail<%= alerts3[i].idalerts %>'">
                                                            <td><%= i+1 %> </td>
                                                            <td><span style="color: black;"> <b><%= alerts3[i].detail_al %></b></span>
                                                            </td>
                                                            <td>
                                                                <span style="color: blue;"><b>สาขา: <%= alerts3[i].name_br %> แผนก: <%= alerts3[i].name_dpm %></b></span><br>
                                                                <%= alerts3[i].date %> <%= alerts3[i].time %> <br>
                                                            ผู้แจ้ง: <%= alerts3[i].name_ps %>
                                                            ผู้รับผิดชอบ: <%= alerts3[i].name_ps2 %>
                                                            </td>
                                                        <td class="text-right">
                                                            <div class="account-wrap">
                                                                <div class="account-item clearfix js-item-menu">
                                                                    <div class="content">
                                                                        <div class="table-data-feature">
                                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                                            <i class="zmdi zmdi-more"></i>
                                                                        </button>
                                                                    </div>
                                                                    </div>
                                                                    <div class="account-dropdown js-dropdown">
                                                                        <div class="account-dropdown__item">
                                                                            <a href="/notification/detail<%= alerts3[i].idalerts %>" style="padding-right: 50%;">
                                                                                <i class="fas fa-info-circle"></i> ดูรายละเอียดข้อมูล</a>
                                                                        </div>
                                                                        <div class="account-dropdown__item">
                                                                            <a style="padding-right: 55%;" class="delete_notification" id="<%= alerts3[i].idalerts %>">
                                                                                <i class="fas fa-trash-alt"></i> ลบข้อมูล</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            </td>
                                                            </tr>
                                                        <%}%>
                                                     <%}%>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-nav-end" role="tabpanel" aria-labelledby="custom-nav-end-tab">
                                            <div class="table-responsive table--no-card m-b-30">
                                                <table class="table table-borderless table-striped table-earning" id="datatable-fail">
                                                    <thead>
                                                        <tr>
                                                            <th>ลำดับ</th>
                                                            <th>รายละเอียดการแจ้งเหตุ</th>
                                                            <th>ข้อมูลการแจ้งเหตุ</th>
                                                            <th class="text-right">จัดการ</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if(alerts4){%>
                                                            <% for(var i=0; i<alerts4.length;i++){%>
                                                        <tr onclick="window.location.href ='/notification/detail<%= alerts4[i].idalerts %>'">
                                                            <td><%= i+1 %> </td>
                                                            <td> <span style="color: black;"><b><%= alerts4[i].detail_al %></b></span>
                                                            </td>
                                                            <td><span style="color: blue;"><b> สาขา: <%= alerts4[i].name_br %> แผนก: <%= alerts4[i].name_dpm %></b></span> <br>
                                                                <%= alerts4[i].date %> <%= alerts4[i].time %> <br>
                                                                ผู้แจ้ง: <%= alerts4[i].name_ps %>
                                                                ผู้รับผิดชอบ: <%= alerts4[i].name_ps2 %>
                                                            </td>
                                                        <td class="text-right">
                                                            <div class="account-wrap">
                                                                <div class="account-item clearfix js-item-menu">
                                                                    <div class="content">
                                                                        <div class="table-data-feature">
                                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                                            <i class="zmdi zmdi-more"></i>
                                                                        </button>
                                                                    </div>
                                                                    </div>
                                                                    <div class="account-dropdown js-dropdown">
                                                                        <div class="account-dropdown__item">
                                                                            <a href="/notification/detail<%= alerts4[i].idalerts %>" style="padding-right: 50%;">
                                                                                <i class="fas fa-info-circle"></i> ดูรายละเอียดข้อมูล</a>
                                                                        </div>
                                                                        <div class="account-dropdown__item">
                                                                            <a style="padding-right: 55%;" class="delete_notification" id="<%= alerts4[i].idalerts %>">
                                                                                <i class="fas fa-trash-alt"></i> ลบข้อมูล</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            </td>
                                                            </tr>
                                                        <%}%>
                                                     <%}%>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            </div>
                             <!-- -----------------------------------------------END Tab---------------------------------------- -->
                                         <!-- modal large -->
			<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="largeModalLabel">เลือกผู้รับผิดชอบงาน</h5>
                            <div class="imgcontainer">
								<span class="close" aria-hidden="Close" aria-label="Close" data-dismiss="modal">&times;</span>
                            </div>
						</div>
                        <% JSON.stringify(personnel)%>
						<div class="modal-body">
							<!-- USER DATA-->
                            <div class="user-data m-b-30">
                                <h3 class="title-3 m-b-30">
                                    <i class="zmdi zmdi-account-calendar"></i>รายชื่อผู้รับผิดชอบ</h3>
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2" id="datatable-assignment-personnel">
                                        <thead>
                                            <tr>
                                                <td>ชื่อ</td>
                                                <td>สถานะหน้าที่</td>
                                                <td>เลือก</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(personnel){%>
                                                <% for(var i=0; i<personnel.length;i++){%>
                                            <tr>
                                                <td>
                                                    <div class="table-data__info">
                                                        <h6><%= personnel[i].name_ps %></h6>
                                                        <span>
                                                            <a href="/branch/department<%= personnel[i].branchid_ps %>">สาขา: <%= personnel[i].name_br %></a>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <%if(personnel[i].name_pms === 'แอดมิน'){%>
                                                    <span class="role admin"><%= personnel[i].name_pms %></span>
                                                    <%}else{%>
                                                        <span class="role user"><%= personnel[i].name_pms %></span>
                                                    <%}%>
                                                </td>
                                                <td>
                                                        <button type="button" class="btn btn-success select_personnel" id="<%= personnel[i].idpersonnel  %>" name="<%= personnel[i].name_ps  %>">
                                                            <i class="fas fa-check-square"></i>
                                                            เลือก
                                                            </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <%}%>
                                            <%}%>
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                            <!-- END USER DATA-->
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
            </div>
			<!-- end modal large -->
                			<!-- modal medium success -->
			<div class="modal fade" id="mediumModalsuccess" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="mediumModalLabel">รายละเอียดการปิดงาน</h5>
							<div class="imgcontainer">
								<span class="close" aria-hidden="Close" aria-label="Close" data-dismiss="modal">&times;</span>
                            </div>
						</div>
						<div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong style="color: green;">ปิดงานสำเร็จ</strong>
                                </div>
                                <div class="card-body card-block">
                                    <form id="form-success" method="post" class="form-inline">
                                        <div class="class="col col-md-3">
                                            <label for="textarea-input" class="textarea-input">รายละเอียด</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <textarea class="form-control" id="textarea-success" placeholder="กรอกรายละเอียดการปิดงาน" name="comment_al" rows="6" cols="75" required></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Confirm</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
					</div>
				</div>
			</div>
			<!-- end modal medium success-->
            <!-- modal medium fail -->
			<div class="modal fade" id="mediumModalfail" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="mediumModalLabel">รายละเอียดการปิดงาน</h5>
							<div class="imgcontainer">
								<span class="close" aria-hidden="Close" aria-label="Close" data-dismiss="modal">&times;</span>
                            </div>
						</div>
						<div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong style="color: red;">ปิดงานไม่สำเร็จ</strong>
                                </div>
                                <div class="card-body card-block">
                                    <form id="form-fail" method="post" class="form-inline">
                                        <div class="class="col col-md-3">
                                            <label for="textarea-input" class="textarea-input">รายละเอียด</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <textarea class="form-control" placeholder="กรอกรายละเอียดการปิดงาน" name="comment_al" rows="6" cols="75" required></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Confirm</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
					</div>
				</div>
			</div>
			<!-- end modal medium fail-->
            </div>
            </div>
            <% if(success_notification.length > 0){%>
                <script>
                swal.fire({
                  icon: "success",
                  title: "ทำการปิดงานสำเร็จเรียบร้อย",
                  showConfirmButton: true,
                  timer: 2500
                });
                </script>
                <% } %>

                <% if(fail_notification.length > 0){ %>
                    <script>
                        swal.fire({
                        icon: "warning",
                        title: "ทำการปิดงานไม่สำเร็จ!!",
                        showConfirmButton: true,
                        timer: 2500
                    });
                    </script>
                    <% } %>

    <script>
        // Get the modal
        var modal = document.getElementById('popup');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
      </script>
      <%- include ("../../_credit" ) %>
        <!-- END MAIN CONTENT-->
        <%- include ("../../_footer" ) %>
