<%- include ("../../_header" ) %>

    <body class="animsition">
        <%- include ("../../_sidebar" ) %>
            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <%- include ("../../_headerdesktop" ) %>
                    <!-- MAIN CONTENT-->
                    
                    <div class="main-content">
                        <div class="section__content section__content--p30">
                            <div class="container-fluid">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                      <li class="breadcrumb-item"><a href="/index"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                                      <li class="breadcrumb-item"><a href="/notification"><i class="fas fa-bell"></i> การแจ้งเหตุ</a></li>
                                      <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-info-circle"></i> รายละเอียดการแจ้งเหตุ</li>
                                    </ol>
                                  </nav> 
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="card">
                                            <div class="card-header"><i class="fas fa-info-circle"></i> รายละเอียด</div>
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <h3 class="text-center title-2">ข้อมูลการแจ้งเหตุ</h3> <% JSON.stringify(detail_alerts) %>
                                                </div>
                                                <hr>
                                                    <div class="form-group">
                                                        <label for="cc-payment" class="control-label mb-1">รายละเอียดการแจ้งเหตุ</label>
                                                        <textarea disabled name="textarea-input" id="textarea-input" rows="5" class="form-control"> <%= detail_alerts.detail_al %></textarea>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="cc-exp" class="control-label mb-1">สาขา</label>
                                                                <input id="cc-exp" name="cc-exp" type="tel" class="form-control cc-exp" value="<%= detail_alerts.name_br %>" disabled>
                                                                <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="x_card_code" class="control-label mb-1">แผนก</label>
                                                            <div class="input-group">
                                                                <input id="x_card_code" name="x_card_code" type="tel" class="form-control cc-cvc" value="<%= detail_alerts.name_dpm %>" disabled>
        
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group has-success">
                                                        <label for="cc-name" class="control-label mb-1">สถานะ</label>
                                                        <% if(detail_alerts.name_sta === 'รอการดำเนินการ'){%>
                                                            <input id="cc-number" name="cc-number" type="tel" class="form-control cc-number identified visa" value="<%= detail_alerts.name_sta %>" disabled>
                                                            <%}else if(detail_alerts.name_sta === 'กำลังดำเนินการ'){%>
                                                                <input id="cc-number" name="cc-number" type="tel" class="form-control cc-number identified visa" value="<%= detail_alerts.name_sta %>" style="color: blue;" disabled>
                                                            <%}else if(detail_alerts.name_sta === 'ดำเนินการสำเร็จ'){%>
                                                                <input id="cc-number" name="cc-number" type="tel" class="form-control cc-number identified visa" value="<%= detail_alerts.name_sta %>" style="color: green;" disabled>
                                                            <%}else{%>
                                                                <input id="cc-number" name="cc-number" type="tel" class="form-control cc-number identified visa" value="<%= detail_alerts.name_sta %>" style="color: red;" disabled>
                                                            <%}%>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="cc-number" class="control-label mb-1">รายงานปัญหาไปยังกลุ่ม</label>
                                                        <input id="cc-number" name="cc-number" type="tel" class="form-control cc-number identified visa" value="<%= detail_alerts.name_group %>" disabled>
                                                    </div>
                                                    <% if(detail_alerts.name_sta === 'กำลังดำเนินการ'){%>
                                                    <div>
                                                        <button type="button" class="btn btn-lg btn-info btn-block success" id="<%= detail_alerts.idalerts %> " data-toggle="modal"  data-target="#mediumModalsuccess" title="สำเร็จ">
                                                            <i class="fas fa-check-circle" style="color: white;"></i>&nbsp;
                                                            <span id="payment-button-amount">สำเร็จ</span>
                                                        </button>
                                                        <button type="button" class="btn btn-lg btn-danger btn-block fail" data-toggle="modal"  data-target="#mediumModalfail" title="ไม่สำเร็จ">
                                                            <i class="far fa-times-circle" style="color: white;"></i>&nbsp;
                                                            <span id="payment-button-amount">ไม่สำเร็จ</span>
                                                        </button>
                                                        <button type="button" class="btn btn-lg btn-secondary btn-block assignment" id="<%= detail_alerts.idalerts  %> " data-toggle="modal"  data-target="#largeModalChang" title="เปลี่ยนผู้รับผิดชอบงาน">
                                                            <i class="fas fa-exchange-alt"></i>&nbsp;
                                                            <span id="payment-button-amount">เปลี่ยนผู้รับผิดชอบงาน</span>
                                                        </button>
                                                    </div>
                                                <%}else if(detail_alerts.name_sta === 'รอการดำเนินการ'){%>
                                                    <button type="button" class="btn btn-lg btn-secondary btn-block assignment" id="<%= detail_alerts.idalerts  %> " data-toggle="modal"  data-target="#largeModal" title="มอบหมายงาน">
                                                        <i class="zmdi zmdi-mail-send" style="color: white;"></i>&nbsp;
                                                        <span id="payment-button-amount">มอบหมายงาน</span>
                                                    </button>
                                                <%}%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <div class="card-header">
                                                <strong><i class="fas fa-user"></i> ข้อมูล</strong>
                                                <small> ผู้แจ้งเหตุ/ผู้รับเหตุ</small>
                                            </div>
                                            <div class="card-body card-block">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">ชื่อผู้แจ้ง</label>
                                                    <input type="text" id="company" class="form-control" value="<%= detail_alerts.name_ps %>" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">เบอร์ติดต่อผู้แจ้ง</label>
                                                    <input type="text" id="company" class="form-control" value="<%= detail_alerts.phone_ps %>" disabled>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="city" class=" form-control-label">วันที่แจ้ง</label>
                                                            <input type="text" id="city" value="<%= detail_alerts.date %>" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="postal-code" class=" form-control-label">เวลาที่แจ้ง</label>
                                                            <input type="text" id="postal-code" value="<%= detail_alerts.time %>" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="street" class=" form-control-label">ชื่อผู้รับผิดชอบ</label>
                                                    <input type="text" id="street" value="<%= detail_alerts.name_ps2 %>" class="form-control" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">เบอร์ติดต่อผู้รับผิดชอบ</label>
                                                    <input type="text" id="company" class="form-control" value="<%= detail_alerts.phone_ps2 %>" disabled>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="city" class=" form-control-label">วันที่ปิดงาน</label>
                                                            <input type="text" id="city" value="<%= detail_alerts.date_success%>" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="postal-code" class=" form-control-label">เวลาที่ปิดงาน</label>
                                                            <input type="text" id="postal-code" value="<%= detail_alerts.time_success%>" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">รายละเอียดปิดงาน</label>
                                                    <textarea disabled name="textarea-input" id="textarea-input" rows="5" class="form-control"> <%= detail_alerts.comment_al %></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% JSON.stringify(img_alerts_closework) %>
                                    <% for(var i=0; i<img_alerts.length; i++){%>
                                    <div class="col-lg-6">
                                        <div class="au-card m-b-30">
                                            <div class="au-card-inner">
                                                <h3 class="title-2 m-b-40">รูปภาพการแจ้งเหตุที่<%= i+1 %></h3>
                                                <img src="img_alerts/<%= img_alerts[i].img_alerts %>" id="myTag" alt="Picture Alerts" class="picalerts">
                                            </div>
                                        </div>
                                    </div>
                                <%}%>

                                <% if(img_alerts_closework){%> 
                                    <% for(var i=0; i<img_alerts_closework.length; i++){%>
                                        <div class="col-lg-6">
                                            <div class="au-card m-b-30">
                                                <div class="au-card-inner">
                                                    <h3 class="title-2 m-b-40">รูปภาพปิดงานที่ <%= i+1 %></h3>
                                                    <img src="img_alerts_closework/<%= img_alerts_closework[i].img_alerts_cw %>" id="myTag" alt="Picture Alerts" class="picalerts">
                                                </div>
                                            </div>
                                        </div>
                                    <%}%>
                                    <%}%>
                                </div>
                                 <!-- modal large -->
			<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="largeModalLabel">เลือกผู้รับผิดชอบงาน</h5>
                            <div class="imgcontainer">
								<span class="close" aria-hidden="Close" aria-label="Close" data-dismiss="modal">&times;</span>
                            </div>
						</div>
                        <% JSON.stringify(personnel)%>
						<div class="modal-body">
							<!-- USER DATA-->
                            <div class="user-data m-b-30">
                                <h3 class="title-3 m-b-30">
                                    <i class="zmdi zmdi-account-calendar"></i>รายชื่อผู้รับผิดชอบ</h3>
                                <div class="table-responsive table-data">
                                    <table class="table" id="datatable-assignment-personnel-detail">
                                        <thead>
                                            <tr>
                                                <td>ชื่อ</td>
                                                <td>สถานะหน้าที่</td>
                                                <td>เลือก</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(personnel){%>
                                                <% for(var i=0; i<personnel.length;i++){%>
                                            <tr>
                                                <td>
                                                    <div class="table-data__info">
                                                        <h6><%= personnel[i].name_ps %></h6>
                                                        <span>
                                                            <a href="/branch/department<%= personnel[i].branchid_ps %>">สาขา: <%= personnel[i].name_br %></a>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <%if(personnel[i].name_pms === 'แอดมิน'){%>
                                                    <span class="role admin"><%= personnel[i].name_pms %></span>
                                                    <%}else{%>
                                                        <span class="role user"><%= personnel[i].name_pms %></span>
                                                    <%}%>
                                                </td>
                                                <td>
                                                        <button type="button" class="btn btn-success select_personnel" id="<%= personnel[i].idpersonnel  %>" name="<%= personnel[i].name_ps  %>">
                                                            <i class="fas fa-check-square"></i>
                                                            เลือก
                                                            </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <%}%>
                                            <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <!-- END USER DATA-->
                            <!-- modal large -->
			<div class="modal fade" id="largeModalChang" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="largeModalLabel">เลือกผู้รับผิดชอบงาน</h5>
                            <div class="imgcontainer">
								<span class="close" aria-hidden="Close" aria-label="Close" data-dismiss="modal">&times;</span>
                            </div>
						</div>
                        <% JSON.stringify(personnel)%>
						<div class="modal-body">
							<!-- USER CHANG-->
                            <div class="user-data m-b-30">
                                <h3 class="title-3 m-b-30">
                                    <i class="zmdi zmdi-account-calendar"></i>รายชื่อผู้รับผิดชอบ</h3>
                                <div class="table-responsive table-data">
                                    <table class="table" id="datatable-assignment-personnel-detail-chang">
                                        <thead>
                                            <tr>
                                                <td>ชื่อ</td>
                                                <td>สถานะหน้าที่</td>
                                                <td>เลือก</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(chang_personnel){%>
                                                <% for(var i=0; i<chang_personnel.length;i++){%>
                                            <tr>
                                                <td>
                                                    <div class="table-data__info">
                                                        <h6><%= chang_personnel[i].name_ps %></h6>
                                                        <span>
                                                            <a href="/branch/department<%= chang_personnel[i].branchid_ps %>">สาขา: <%= chang_personnel[i].name_br %></a>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <%if(chang_personnel[i].name_pms === 'แอดมิน'){%>
                                                    <span class="role admin"><%= chang_personnel[i].name_pms %></span>
                                                    <%}else{%>
                                                        <span class="role user"><%= chang_personnel[i].name_pms %></span>
                                                    <%}%>
                                                </td>
                                                <td>
                                                        <button type="button" class="btn btn-success select_personnel" id="<%= chang_personnel[i].idpersonnel  %>" name="<%= personnel[i].name_ps  %>">
                                                            <i class="fas fa-check-square"></i>
                                                            เลือก
                                                            </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <%}%>
                                            <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <!-- END USER CHANG-->
                                <!-- modal medium success -->
			<div class="modal fade" id="mediumModalsuccess" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="mediumModalLabel">รายละเอียดการปิดงาน</h5>
							<div class="imgcontainer">
								<span class="close" aria-hidden="Close" aria-label="Close" data-dismiss="modal">&times;</span>
                            </div>
						</div>
						<div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong style="color: green;">ปิดงานสำเร็จ</strong> 
                                </div>
                                <div class="card-body card-block">
                                    <form action="/notification/success<%= detail_alerts.idalerts %> "  enctype="multipart/form-data" id="form-success" method="post" class="form-inline">
                                        <div class="class="col col-md-3">
                                            <label for="textarea-input" class="textarea-input"><strong>รายละเอียด</strong></label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <textarea class="form-control" id="textarea-success" placeholder="กรอกรายละเอียดการปิดงาน" name="comment_al" rows="6" cols="75" required></textarea>
                                            <div align="center">
                                                <label for="img_xx" style="cursor: pointer; width: 250px;padding: 10px; border: 3px dashed gray;margin: 0;">
                                                <img src="http://100dayscss.com/codepen/upload.svg" id="blah" style="cursor: pointer;"><br>
                                                </label>
                                                <input type="file" name="filename" accept="image/*" id="img_xx" multiple onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])" required>
                                                <p>คลิกเพื่อเลือกรูปภาพ</p>  
                                            </div>
                                        </div> 
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Confirm</button>
                                        </div> 
                                    </form>
                                </div>
                                
                            </div>
                        </div>
					</div>
				</div>
			</div>
			<!-- end modal medium success-->
            <!-- modal medium fail -->
			<div class="modal fade" id="mediumModalfail" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="mediumModalLabel">รายละเอียดการปิดงาน</h5>
							<div class="imgcontainer">
								<span class="close" aria-hidden="Close" aria-label="Close" data-dismiss="modal">&times;</span>
                            </div>
						</div>
						<div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong style="color: red;">ปิดงานไม่สำเร็จ</strong> 
                                </div>
                                <div class="card-body card-block">
                                    <form action="/notification/fail<%= detail_alerts.idalerts %>" enctype="multipart/form-data" id="form-fail" method="post" class="form-inline">
                                        <div class="class="col col-md-3">
                                            <label for="textarea-input" class="textarea-input"><strong>รายละเอียด</strong> </label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <textarea class="form-control" placeholder="กรอกรายละเอียดการปิดงาน" name="comment_al" rows="6" cols="75" required></textarea>
                                            <div align="center">
                                                <label for="img_xxx" style="cursor: pointer; width: 250px;padding: 10px; border: 3px dashed gray;margin: 0;">
                                                    <img src="http://100dayscss.com/codepen/upload.svg" id="blahx" style="cursor: pointer;"><br>
                                                    </label>
                                                    <input type="file" name="filename" accept="image/*" id="img_xxx" multiple onchange="document.getElementById('blahx').src = window.URL.createObjectURL(this.files[0])" required>
                                                    <p>คลิกเพื่อเลือกรูปภาพ</p>  
                                        </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Confirm</button>
                                        </div>  
                                    </form>
                                </div>
                                
                            </div>
                        </div>
					</div>
				</div>
			</div>
			<!-- end modal medium fail-->
                    </div>
                    </div>
                    <%- include ("../../_credit" ) %>
                        <!-- END MAIN CONTENT-->

                        <%- include ("../../_footer" ) %>