<div class="row">
    <div class="col-md-12">
        <div class="copyright">
            <p>Copyright <strong><span>DH-PTT & CRRU</span></strong>. All Rights Reserved. Designed by developer <strong><span>DH-PTT & CRRU</span></strong>. <br>
            Developer <a href="https://www.facebook.com/pontakorn.changpat/" target="_blank"> <i class="fab fa-facebook"></i></i> Pontakorn Changpat</a>
            </p>
        </div>
    </div>
</div>