 <!-- HEADER DESKTOP-->
 <header class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <h3 class="title-2"><b><i class="fas fa-comments"></i> แจ้งเหตุ</b></h3>
                <div class="header-button">
                    <div class="noti-wrap">
                        <% if(cookie.permission == 1){%>
                        <a href="/alerts">
                          <img src="logo/logo_PTT_3.png" alt="" style="width: 130px; height: auto;">
                        </a>
                        <%}else { %>
                        <a href="/index">
                          <img src="logo/logo_PTT_3.png" alt="" style="width: 130px; height: auto;">
                        </a>
                        <%}%>
                    </div>
                    <div class="account-wrap">
                        <div class="account-item clearfix js-item-menu">
                            <div class="image">
                                <img src="logo/user.png"
                                    alt="User" />
                            </div>
                            <div class="content">
                                <a class="js-acc-btn" href="#"><%= cookie.name_ps %></a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="info clearfix">
                                    <div class="image">
                                            <img
                                                src="logo/user.png"
                                                alt="User"
                                                />
                                    </div>
                                    <div class="content">
                                        <h5 class="name">
                                            <p><%= cookie.name_ps %></p>
                                            <br>
                                            <p style="font-size: 10px;"> Status: <% if(cookie.idpersonnel_ptt){ %><i class="fas fa-circle" style="color: green; font-size: 10px;">online</i><%}else{%><i class="fas fa-circle" style="color: red; font-size: 10px;">offline</i><%}%></p>
                                        </h5>
                                        <span class="email">
                                        <%= cookie.name_permission%>
                                        สาขา: <%= cookie.name_branch %>
                                        </span>
                                    </div>
                                </div>
                                <div class="account-dropdown__body">
                                    <%if(cookie.permission == 3 || cookie.permission == 2) {%>
                                    <div class="account-dropdown__item">
                                        <a href="/bag">
                                            <i class="fas fa-archive"></i>กระเป๋างานของฉัน</a>
                                    </div>
                                    <%}%>
                                    <div class="account-dropdown__item">
                                        <a href="/history">
                                            <i class="fas fa-history"></i>ประวัติการแจ้งเหตุ</a>
                                    </div>
                                </div>
                                <div class="account-dropdown__footer" style="background-color: rgb(245, 116, 116);">
                                    <a href="/logout">
                                        <i class="zmdi
                                            zmdi-power"></i>Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<% JSON.stringify(cookie) %>
</header>
<!-- END HEADER DESKTOP-->