<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <button class="hamburger hamburger--slider"
                        type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <%if(cookie.permission == 3 || cookie.permission == 2) {%>
                    <li>
                        <a href="/index">
                            <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                    <%}%>
                    <li>
                        <a href="/alerts">
                            <i class="fas fa-bullhorn"></i>รายงานปัญหา</a>
                    </li>
                <%if(cookie.permission == 3) {%>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-copy"></i>จัดการ</a>
                        <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                                <a href="/groupline">
                                    <i class="fab fa-line"></i>กลุ่มไลน์รายงานปัญหา</a>
                            </li>
                            <li>
                                <a href="/branch">
                                    <i class="fas fa-code-branch"></i>สาขา</a>
                            </li>
                            <li>
                                <a href="/personnel">
                                    <i class="fas fa-users"></i>สมาชิก</a>
                            </li>
                            <li>
                                <a href="/notification">
                                    <i class="fas fa-bell"></i>การแจ้งเหตุ</a>
                            </li>
                        </ul>
                    </li>
                    <%}%>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <% if(cookie.permission == 1){%>
                <a href="/alerts">
                  <img src="logo/logo_PTT_3.png" alt="ptt" style="width: 180px;">
                </a>
                <%}else { %>
                <a href="/index">
                  <img src="logo/logo_PTT_3.png" alt="ptt" style="width: 130px;">
                </a>
                <%}%>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li>
                        <%if(cookie.permission == 3 || cookie.permission == 2) {%>
                        <a href="/index">
                            <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                    <%}%>
                    <li>
                        <a href="/alerts">
                            <i class="fas fa-bullhorn"></i>รายงานปัญหา</a>
                    </li>
                    <%if(cookie.permission == 3) {%>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>จัดการ</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/groupline">
                                        <i class="fab fa-line"></i>กลุ่มไลน์รายงานปัญหา</a>
                                </li>
                                <li>
                                    <a href="/branch">
                                        <i class="fas fa-code-branch"></i>สาขา</a>
                                </li>
                                <li>
                                    <a href="/personnel">
                                        <i class="fas fa-users"></i>สมาชิก</a>
                                </li>
                                <li>
                                    <a href="/notification">
                                        <i class="fas fa-bell"></i>การแจ้งเหตุ</a>
                                </li>
                            </ul>
                        </li>
                    <%}%>
                   
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->