<%- include ("../_header" ) %>

    <body class="animsition">

        <%- include ("../_sidebar" ) %>
            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <%- include ("../_headerdesktop" ) %>
                <!-- MAIN CONTENT-->
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                              <!-- STATISTIC-->
            <section class="statistic statistic2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--green">
                                <a href="/alerts">
                                <h2 class="number">แจ้งเหตุ</h2>
                                <div class="icon">
                                    <i class="fas fa-bullhorn"></i>
                                </div>
                            </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--blue">
                                <a href="/history">
                                <h2 class="number">ประวัติการแจ้งเหตุ</h2>
                                <div class="icon">
                                    <i class="fas fa-history"></i>
                                </div>
                            </a>
                            </div>
                        </div>
                        <% if(cookie.permission == 3) {%>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--red">
                                <a href="/notification">
                                <h2 class="number">จัดการการแจ้งเหตุ</h2>
                                <span class="desc">(ADMIN)</span>
                                <div class="icon">
                                    <i class="fas fa-bell"></i>
                                </div>
                            </a>
                            </div>
                        </div>
                    <%}%>
                    </div>
                </div>
            </section>
            <!-- END STATISTIC-->

                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="title-1 m-b-25"><i class="far fa-file-alt"></i> ข้อมูลการแจ้ง</h2>
                        <div class="table-responsive table--no-card m-b-40">
                            <table class="table table-borderless table-striped" id="datatable">
                                <thead class="thead-dark">
                                    <tr>
                                        <th width="50">ลำดับ</th>
                                        <th>สาขาและแผนก</th>
                                        <th>ชื่อผู้แจ้ง</th>
                                        <th style="width: 400px!important;">รายละเอียดปัญหา</th>
                                        <th>สถานะการแจ้งเหตุ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%if(alerts){%>
                                        <% for(var i=0; i<alerts.length;i++ ){ %>
                                    <tr <% if(cookie.permission == 3){%>onclick="window.location.href ='/notification/detail<%= alerts[i].idalerts %>'"<%}%>>
                                        <td><%= i+1 %></td>
                                        <td><span style="color: blue;"><%= alerts[i].name_br%> <%= alerts[i].name_dpm%></span><br>
                                        แจ้งเมื่อ: <%= alerts[i].date%> <%= alerts[i].time%>
                                        </td>
                                        <td><span style="color: blue;"><%= alerts[i].name_ps%></span> <br>
                                        เบอร์ติดต่อ: <%= alerts[i].phone_ps%>
                                        </td>
                                        <% if(cookie.permission == 3){%>
                                        <td><a href="/notification/detail<%= alerts[i].idalerts %>"><span style="color: black;"> <b><%= alerts[i].detail_al%></b> </span></a></td>
                                        <%}else{%>
                                            <td><span style="color: black;"> <b><%= alerts[i].detail_al%></b></span></td>
                                        <%}%>
                                        <td >
                                            <% if(alerts[i].statusalertsid_al == 1) {%>
                                                <span class="role admin"><%= alerts[i].name_sta%></span>
                                                <%}else{%>
                                           <span class="role user"><%= alerts[i].name_sta%></span>
                                        <%}%>
                                        </td>

                                    </tr>
                                    <%}%>
            <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <!-- TOP CAMPAIGN-->
                            <h3 class="title-3 m-b-30"><i class="fa fa-shopping-cart"></i> งานที่ได้รับมอบหมาย</h3>
                                <table class="table table-responsive table-warning" id="datatable-assignment">
                                    <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>ราละเอียด</th>
                                        <th>ผู้ดูแลปัญหา</th>
                                    </tr>
                                </thead>
                                    <tbody>
                                        <%if(assignment){%>
                                            <% for(var i=0; i<assignment.length;i++ ){ %>
                                        <tr>
                                            <td><%= i+1 %></td>
                                            <td>
                                                <%if(assignment[i].personnelid_al == cookie.idpersonnel_ptt){%>
                                                <a href="/bag/detail<%= assignment[i].idalerts %>"><%= assignment[i].detail_al %></a>
                                                <%}else{%>
                                                    <%= assignment[i].detail_al %>
                                                <%}%>
                                                    </td>
                                            <td><%= assignment[i].name_ps %></td>
                                        </tr>
                                        <%}%>
                                        <%}%>
                                    </tbody>
                                </table>
                        <!--  END TOP CAMPAIGN-->
                    </div>
                </div>
                </div>
                </div>
                <%- include ("../_credit" ) %>
        <!-- END MAIN CONTENT-->
    </div>

        <%- include ("../_footer" ) %>
