<%- include ("../_header" ) %>

    <body class="animsition">
        <%- include ("../_sidebar" ) %>
            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <%- include ("../_headerdesktop" ) %>
                    <!-- MAIN CONTENT-->
                    
                    <div class="main-content">
                        <div class="section__content section__content--p30">
                            <div class="container-fluid">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                      <li class="breadcrumb-item"><a href="/index"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                                      <li class="breadcrumb-item"><a href="/groupline"><i class="fab fa-line"></i> กลุ่มไลน์รายงานปัญหา</a></li>
                                      <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-edit"></i> แก้ไขกลุ่มไลน์รายงานปัญหา</li>
                                    </ol>
                                  </nav> 
                                <div class="row">
                                    <div class="col-lg-3"></div>
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-header"><b>แก้ไขข้อมูลกลุ่มไลน์</b> </div><% JSON.stringify(groupalerts) %>
                                                <div class="card-body card-block">
                                                    <form action="/groupline/update<%= groupalerts.idgroupalerts %>" method="post">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-group-addon"><b>ชื่อกลุ่มไลน์</b></div>
                                                                    <input type="text" id="username3" name="name_group" class="form-control" value="<%=groupalerts.name_group%>">
                                                                    <div class="input-group-addon">
                                                                        <i class="fab fa-line"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-group-addon"><b>Line Token</b></div>
                                                                    <input type="text" id="email3" name="line_token" class="form-control" value="<%=groupalerts.line_token%>">
                                                                    <div class="input-group-addon">
                                                                        <i class="fab fa-tumblr-square"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col-2">
                                                                    <label class=" form-control-label"><b>สถานะ:</b></label>
                                                                </div>
                                                            <div class="col col-md-9">
                                                                <div class="form-check-inline form-check">
                                                                    <label for="inline-radio1" class="form-check-label " style="color: green;">
                                                                        <input type="radio" id="inline-radio1" name="enable_group" value="1" class="form-check-input" <%if(groupalerts.enable_group == 1){%>checked<%}%>>เปิดใช้งาน
                                                                    </label>&nbsp&nbsp&nbsp&nbsp&nbsp
                                                                    <label for="inline-radio2" class="form-check-label " style="color: red;">
                                                                        <input type="radio" id="inline-radio2" name="enable_group" value="0" class="form-check-input" <%if(groupalerts.enable_group == 0){%>checked<%}%>>ปิดใช้งาน
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-actions
                                                            form-group">
                                                            <button
                                                                type="submit" class="btn btn-success btn-sm">ตกลง</button>
                                                        </div>
                                                    </form>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include ("../_credit" ) %>
                        <!-- END MAIN CONTENT-->

                        <%- include ("../_footer" ) %>