<%- include ("../_header" ) %>

    <body class="animsition">
        
        <%- include ("../_sidebar" ) %>
            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <%- include ("../_headerdesktop" ) %>
                <!-- MAIN CONTENT-->
                <div class="main-content">   
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="/index"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                                  <li class="breadcrumb-item active" aria-current="page""><i class="fab fa-line"></i> กลุ่มไลน์รายงานปัญหา</li>
                                </ol>
                              </nav>   
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <h2 class="title-1 m-b-25"><i class="fab fa-line"></i> กลุ่มไลน์รายงานปัญหา</h2>
                        <div class="table-data__tool-right">
                            <a class="btn btn-success" style="color: white;"  onclick="document.getElementById('popup').style.display='block'">
                                <i class="zmdi zmdi-plus"></i> เพิ่มกลุ่มไลน์</a>
                        </div>
                        <div id="popup" class="modalx">
                            <form class="modal-content-popup animate" id="myform" action="/groupline/save" method="POST" data-toggle="validator" >
                                <div class="imgcontainer">
                                    <span onclick="document.getElementById('popup').style.display='none'" class="close" title="Close Modal">&times;</span>  
                                </div>
                                <div class="container first">
                                    <p align="center"><b> เพิ่มกลุ่มไลน์</b></p><br>
                                    <label><b>ชื่อกลุ่มไลน์</b></label>
                                    <input type="text" name="name_group" class="form-control" id="fname" placeholder="กรุณากรอกชื่อกลุ่มไลน์" required/>    
                                    <label><b>line token</b></label>
                                    <input type="text" name="line_token" class="form-control" id="lame" placeholder="กรุณาเพิ่ม Line Token" required/>
                                    <div class="form-group">
                                        <span style="color: black;text-decoration: underline;">
                                            ขอ LINE Token
                                        </span>
                                            <a href="https://notify-bot.line.me/my/" target="_blank"><i class="fab fa-line"></i> คลิ๊กที่นี่</a>
                                        
                                    </div>
                                    <label><b>สถานะ</b></label>
                                        <div class="form-check">
                                                <input class="form-check-input" name="enable_group" value="1" type="radio" checked>
                                                <label for="male" class="maleLabel" style="color: green;">เปิด <i class="fas fa-check-circle"></i></label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                                                <input class="form-check-input" name="enable_group" value="0" type="radio">
                                                <label for="female" style="color: red;">ปิด <i class="fas fa-ban"></i></label>
                                            </div>
                                    <button type="submit" class="btn btn-success">เพิ่มข้อมูล</button>
                                </div>
                
                            </form>
                        </div>

            <!-------------------------------------------- table ------------------------------------->
                        <div class="table-responsive table--no-card m-b-30">
                            <table class="table table-borderless table-striped table-earning" id="datatable">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>ชื่อกลุ่ม</th>
                                        <th class="text-right">จัดการ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(groupalerts){%>
                                        <% for(var i=0; i<groupalerts.length;i++){%>
                                    <tr>
                                        <td><%= i+1 %></td>
                                        <td><%= groupalerts[i].name_group %> <%if(groupalerts[i].enable_group == 0){%><i class="fas fa-circle" style="color: red; font-size: 10px;"> ปิดการใช้งาน</i><%}
                                            else{%><i class="fas fa-circle" style="color: green; font-size: 10px;"> เปิดการใช้งาน</i><%}%></td>
                                    <td class="text-right">       
                                        <div class="account-wrap">
                                            <div class="account-item clearfix js-item-menu">
                                                <div class="content">
                                                    <div class="table-data-feature">
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                        <i class="zmdi zmdi-more"></i>
                                                    </button>
                                                </div>
                                                </div>
                                                <div class="account-dropdown js-dropdown">
                                                    <div class="account-dropdown__item">
                                                        <a href="/groupline/edit<%= groupalerts[i].idgroupalerts %>" style="padding-right: 50%;">
                                                            <i class="fas fa-edit"></i> แก้ไขข้อมูล</a>
                                                    </div>
                                                    <div class="account-dropdown__item">
                                                        <a style="padding-right: 55%;" class="delete_groupline" id="<%= groupalerts[i].idgroupalerts %>">
                                                            <i class="fas fa-trash-alt"></i> ลบข้อมูล</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                              
                                        </td>
                                        </tr>
                                    <%}%>
                                 <%}%> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                <% if(message.length > 0) { %>
                    <script>
                        swal.fire({
                        icon: "success",
                        title: "ทำการเพิ่มกลุ่มไลน์เรียบร้อย",
                        showConfirmButton: true,
                      },);
                    </script>
                <%}%>

                <% if(message_edit.length > 0) { %>
                    <script>
                        swal.fire({
                        icon: "success",
                        title: "แก้ไขข้อมูลเรียบร้อย",
                        showConfirmButton: false,
                        timer: 3500
                      },);
                    </script>
                <%}%>
            </div>
    <script>
        // Get the modal
        var modal = document.getElementById('popup');
      
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
      </script>
      <%- include ("../_credit" ) %>
        <!-- END MAIN CONTENT-->
        <%- include ("../_footer" ) %>
  
    