<%- include ("../_header" ) %>

    <body class="animsition">

        <%- include ("../_sidebar" ) %>
            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <%- include ("../_headerdesktop" ) %>
                <!-- MAIN CONTENT-->
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="/index"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                                  <li class="breadcrumb-item active" aria-current="page""><i class="fas fa-archive"></i> กระเป๋างานของฉัน</li>
                                </ol>
                              </nav>
                              <!-- -----------------------------------------------Tab---------------------------------------- -->
                              <h2 class="title-1 m-b-25"> <i class="fas fa-archive"></i> กระเป๋างานของฉัน</h2>
                              <div class="col-lg-12">
								<div class="card">
									<div class="card-header">
										<h4>กระเป๋างานของฉัน</h4>
									</div>
									<div class="card-body">
										<ul class="nav nav-tabs" id="myTab" role="tablist">
											<li class="nav-item">
												<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">งานที่ได้รับมอบหมาย/<strong>กำลังดำเนินการ</strong> </a>
											</li>
											<li class="nav-item">
												<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">งานที่ได้รับมอบหมาย/<strong>สำเร็จ</strong></a>
											</li>
											<li class="nav-item">
												<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">งานที่ได้รับมอบหมาย/<strong>ไม่สำเร็จ</strong></a>
											</li>
										</ul>
                                        <% JSON.stringify(alerts2) %>
										<div class="tab-content pl-3 p-1" id="myTabContent">
											<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
												<div class="table-responsive table--no-card m-b-30">
                                                    <table class="table table-borderless table-striped table-earning" id="datatable-bag-wait">
                                                        <thead>
                                                            <tr>
                                                                <th>ลำดับ</th>
                                                                <th>รายละเอียดการแจ้งเหตุ</th>
                                                                <th>ข้อมูลการแจ้งเหตุ</th>
                                                                <th class="text-right">จัดการ</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% if(alerts2){%>
                                                                <% for(var i=0; i<alerts2.length;i++){%>
                                                            <tr onclick="window.location.href ='/bag/detail<%= alerts2[i].idalerts %>'">
                                                                <td><%= i+1 %> </td>
                                                                <td><span style="color: black;"><b><%= alerts2[i].detail_al %></b></span>
                                                                </td>
                                                                <td>
                                                                    <span style="color: blue;"><b>สาขา: <%= alerts2[i].name_br %> แผนก: <%= alerts2[i].name_dpm %><br></b></span>
                                                                    <%= alerts2[i].date %> <%= alerts2[i].time %> <br>
                                                                    ผู้แจ้ง: <%= alerts2[i].name_ps %>
                                                                </td>
                                                            <td class="text-right">
                                                                <!-- <div class="table-data-feature">
                                                                    <button type="button" class="item success-bag" data-toggle="modal" id="<%= alerts2[i].idalerts  %> " data-target="#mediumModalsuccess" title="สำเร็จ" style="background-color: #00FF7F;">
                                                                        <i class="fas fa-check-circle" style="color: white;"></i>
                                                                    </button>
                                                                    <button type="button" class="item fail-bag" data-toggle="modal" id="<%= alerts2[i].idalerts %> " data-target="#mediumModalfail" title="ไม่สำเร็จ" style="background-color: #FF0000;">
                                                                        <i class="far fa-times-circle" style="color: white;"></i>
                                                                    </button>
                                                                </div>         -->
                                                                <div class="account-wrap">
                                                                    <div class="account-item clearfix js-item-menu">
                                                                        <div class="content">
                                                                            <div class="table-data-feature">
                                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                                                <i class="zmdi zmdi-more"></i>
                                                                            </button>
                                                                        </div>
                                                                        </div>
                                                                        <div class="account-dropdown js-dropdown">
                                                                            <div class="account-dropdown__item">
                                                                                <a href="/bag/detail<%= alerts2[i].idalerts %>" style="padding-right: 50%;">
                                                                                    <i class="fas fa-info-circle"></i> ดูรายละเอียดข้อมูล</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                </td>
                                                                </tr>
                                                            <%}%>
                                                         <%}%>
                                                        </tbody>
                                                    </table>
                                                </div>
											</div>
											<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
												<div class="table-responsive table--no-card m-b-30">
                                                    <table class="table table-borderless table-striped table-earning" id="datatable-bag-success">
                                                        <thead>
                                                            <tr>
                                                                <th>ลำดับ</th>
                                                                <th>รายละเอียดการแจ้งเหตุ</th>
                                                                <th>ข้อมูลการแจ้งเหตุ</th>
                                                                <th class="text-right">จัดการ</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% if(alerts3){%>
                                                                <% for(var i=0; i<alerts3.length;i++){%>
                                                            <tr onclick="window.location.href ='/bag/detail<%= alerts3[i].idalerts %>'">
                                                                <td><%= i+1 %> </td>
                                                                <td><span style="color: black;"><b><%= alerts3[i].detail_al %></b></span>
                                                                </td>
                                                                <td>
                                                                    <span style="color: blue;"><b>สาขา: <%= alerts3[i].name_br %> แผนก: <%= alerts3[i].name_dpm %><br></b></span>
                                                                    <%= alerts3[i].date %> <%= alerts3[i].time %> <br>
                                                                    ผู้แจ้ง: <%= alerts3[i].name_ps %>
                                                                </td>
                                                            <td class="text-right">
                                                                <div class="account-wrap">
                                                                    <div class="account-item clearfix js-item-menu">
                                                                        <div class="content">
                                                                            <div class="table-data-feature">
                                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                                                <i class="zmdi zmdi-more"></i>
                                                                            </button>
                                                                        </div>
                                                                        </div>
                                                                        <div class="account-dropdown js-dropdown">
                                                                            <div class="account-dropdown__item">
                                                                                <a href="/bag/detail<%= alerts3[i].idalerts %>" style="padding-right: 50%;">
                                                                                    <i class="fas fa-info-circle"></i> ดูรายละเอียดข้อมูล</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                </td>
                                                                </tr>
                                                            <%}%>
                                                         <%}%>
                                                        </tbody>
                                                    </table>
                                                </div>
											</div>
											<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
												<div class="table-responsive table--no-card m-b-30">
                                                    <table class="table table-borderless table-striped table-earning" id="datatable-bag-fail">
                                                        <thead>
                                                            <tr>
                                                                <th>ลำดับ</th>
                                                                <th>รายละเอียดการแจ้งเหตุ</th>
                                                                <th>ข้อมูลการแจ้งเหตุ</th>
                                                                <th class="text-right">จัดการ</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% if(alerts4){%>
                                                                <% for(var i=0; i<alerts4.length;i++){%>
                                                            <tr onclick="window.location.href ='/bag/detail<%= alerts4[i].idalerts %>'">
                                                                <td><%= i+1 %> </td>
                                                                <td><span style="color: black;"><b><%= alerts4[i].detail_al %> <br></b></span>


                                                                </td>
                                                                <td>
                                                                    <span style="color: blue;"><b>สาขา: <%= alerts4[i].name_br %> แผนก: <%= alerts4[i].name_dpm %><br></b></span>
                                                                    <%= alerts4[i].date %> <%= alerts4[i].time %> <br>
                                                                    ผู้แจ้ง: <%= alerts4[i].name_ps %>
                                                                </td>
                                                            <td class="text-right">
                                                                <div class="account-wrap">
                                                                    <div class="account-item clearfix js-item-menu">
                                                                        <div class="content">
                                                                            <div class="table-data-feature">
                                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                                                <i class="zmdi zmdi-more"></i>
                                                                            </button>
                                                                        </div>
                                                                        </div>
                                                                        <div class="account-dropdown js-dropdown">
                                                                            <div class="account-dropdown__item">
                                                                                <a href="/bag/detail<%= alerts4[i].idalerts %>" style="padding-right: 50%;">
                                                                                    <i class="fas fa-info-circle"></i> ดูรายละเอียดข้อมูล</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                </td>
                                                                </tr>
                                                            <%}%>
                                                         <%}%>
                                                        </tbody>
                                                    </table>
                                                </div>
											</div>
										</div>


									</div>
								</div>
							</div>
                             <!-- -----------------------------------------------END Tab---------------------------------------- -->
                             <!-- modal medium success -->
			<div class="modal fade" id="mediumModalsuccess" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="mediumModalLabel">รายละเอียดการปิดงาน</h5>
							<div class="imgcontainer">
								<span class="close" aria-hidden="Close" aria-label="Close" data-dismiss="modal">&times;</span>
                            </div>
						</div>
						<div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong style="color: green;">ปิดงานสำเร็จ</strong>
                                </div>
                                <div class="card-body card-block">
                                    <form id="form-success-bag" method="post" class="form-inline">
                                        <div>
                                            <label for="textarea-input" class="textarea-input">รายละเอียด</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <textarea class="form-control" id="textarea-success" placeholder="กรอกรายละเอียดการปิดงาน" name="comment_al" rows="6" cols="75" required></textarea>
                                            <div align="center">
                                                <label for="img_xx" style="cursor: pointer; width: 250px;padding: 10px; border: 3px dashed gray;margin: 0;">
                                                <img src="http://100dayscss.com/codepen/upload.svg" id="blah" style="cursor: pointer;"><br>
                                                </label>
                                                <input type="file" name="filename" accept="image/*" id="img_xx" multiple onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])" required>
                                                <p>คลิกเพื่อเลือกรูปภาพ</p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Confirm</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
					</div>
				</div>
			</div>
			<!-- end modal medium success-->
            <!-- modal medium fail -->
			<div class="modal fade" id="mediumModalfail" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="mediumModalLabel">รายละเอียดการปิดงาน</h5>
							<div class="imgcontainer">
								<span class="close" aria-hidden="Close" aria-label="Close" data-dismiss="modal">&times;</span>
                            </div>
						</div>
						<div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong style="color: red;">ปิดงานไม่สำเร็จ</strong>
                                </div>
                                <div class="card-body card-block">
                                    <form id="form-fail-bag" method="post" class="form-inline">
                                        <div class="class="col col-md-3">
                                            <label for="textarea-input" class="textarea-input">รายละเอียด</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <textarea class="form-control" placeholder="กรอกรายละเอียดการปิดงาน" name="comment_al" rows="6" cols="75" required></textarea>
                                            <div align="center">
                                                <label for="img_xxx" style="cursor: pointer; width: 250px;padding: 10px; border: 3px dashed gray;margin: 0;">
                                                    <img src="http://100dayscss.com/codepen/upload.svg" id="blahx" style="cursor: pointer;"><br>
                                                    </label>
                                                    <input type="file" name="filename" accept="image/*" id="img_xxx" multiple onchange="document.getElementById('blahx').src = window.URL.createObjectURL(this.files[0])" required>
                                                    <p>คลิกเพื่อเลือกรูปภาพ</p>
                                        </div>
                                        </div>
                                        <div class="modal-footer">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Confirm</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
					</div>
				</div>
			</div>
			<!-- end modal medium fail-->
            </div>
            </div>

            <% if(success.length > 0){%>
                <script>
                swal.fire({
                  icon: "success",
                  title: "ทำการปิดงานสำเร็จเรียบร้อย",
                  showConfirmButton: true,
                  timer: 2500
                });
                </script>
                <% } %>

                <% if(fail.length > 0){ %>
                    <script>
                        swal.fire({
                        icon: "warning",
                        title: "ทำการปิดงานไม่สำเร็จ!!",
                        showConfirmButton: true,
                        timer: 2500
                    });
                    </script>
                    <% } %>

    <script>
        // Get the modal
        var modal = document.getElementById('popup');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
      </script>
      <%- include ("../_credit" ) %>
        <!-- END MAIN CONTENT-->
        <%- include ("../_footer" ) %>
