<%- include ("../../_header" ) %>

    <body class="animsition">
        
        <%- include ("../../_sidebar" ) %>
            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <%- include ("../../_headerdesktop" ) %>
                <!-- MAIN CONTENT-->
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">  
                            <%if(cookie.permission == 3 || cookie.permission == 2) {%>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="/index"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                                  <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-bullhorn"></i> รายงานปัญหา</li>
                                </ol>
                              </nav> 
                              <%}%>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <div class="card">
                            <div class="card-header"><b>รายงานปัญหา</b></div>
                            <div class="card-body card-block">
                                <form action="/alerts/save" enctype="multipart/form-data" method="POST">
                                    <div class="form-group">
                                        <label for="cc-payment" class="control-label mb-1">รายละเอียดการแจ้งเหตุ</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <textarea type="text" name="detail_al" placeholder="รายละเอียด..." class="form-control" required> </textarea>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="select" class=" form-control-label">เลือกสาขา</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <select name="branchid_al" id="branch" class="form-control" required>
                                                <option value="">กรุณาเลือกสาขา</option>
                                                <% if(branch) { %>
                                                    <% for(var i=0; i < branch.length; i++){ %>
                                                        <option value="<%= branch[i].idbranch %>">
                                                             <%= branch[i].name_br %>
                                                        </option>
                                                        <%}%>
                                                            <%}%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="select" class=" form-control-label">เลือกแผนก</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <select name="departmentid_al" id="department" class="form-control" required>
                                                <option>กรุณาเลือกแผนก</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="select" class=" form-control-label">เลือกกลุ่มการรายงานปัญหา</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <select name="groupalertsid_al" class="form-control" required>
                                                <option value="">กรุณาเลือกกลุ่มการรายงานปัญหา</option>
                                                <% if(groupalerts) { %>
                                                    <% for(var i=0; i < groupalerts.length; i++){ %>
                                                        <option value="<%= groupalerts[i].idgroupalerts %>">
                                                             <%= groupalerts[i].name_group %>
                                                        </option>
                                                        <%}%>
                                                            <%}%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" align="center">
                                        <label for="img_xx" style="width: 250px;padding: 10px; border: 3px dashed gray;margin: 0;">
                                        <img src="http://100dayscss.com/codepen/upload.svg" id="blah"><br><br>
                                        <i style="cursor: pointer;">คลิกเพื่อเลือกรูปภาพ</i>
                                        </label>
                                        <input type="file" name="filename" accept="image/*" id="img_xx" multiple onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])" required>
                                      </div>
                                    <div>
                                        <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block" ">
                                            <i class="fas fa-share-square"></i>&nbsp;
                                            <span id="payment-button-amount">รายงานปัญหา</span>
                                            <span id="payment-button-sending" style="display:none;">กำลังส่ง...</span>
                                        </button>
                                    </div>
                                    <input type="hidden" value="<%=cookie.idpersonnel_ptt %>" name="personnel_report">
                                </form>
                            </div>
                        </div>
                        <%- include ("../../_credit" ) %>
                    </div>
                </div>
            </div>
        </div>
                <% if(message.length > 0) { %>
                    <script>
                        swal.fire({
                        icon: "success",
                        title: "ทำการรายงานเรียบร้อย",
                        showConfirmButton: true,
                      },);
                    </script>
                <%}%>
                
        <!-- END MAIN CONTENT-->
    </div>
    
        <%- include ("../../_footer" ) %>
  
    