<%- include ("../../_header" ) %>

    <body class="animsition">
        
        <%- include ("../../_sidebar" ) %>
            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <%- include ("../../_headerdesktop" ) %>
                <!-- MAIN CONTENT-->
                <div class="main-content">
                    <div id="popup" class="modalx">
                        <form class="modal-content-popup animate" id="myform" action="/branch/department/save" method="POST" data-toggle="validator" >
                            <div class="imgcontainer">
                                <span onclick="document.getElementById('popup').style.display='none'" class="close" title="Close Modal">&times;</span>  
                            </div>
                            <div class="container first">
                                <p align="center"><b> เพิ่มแผนก</b></p><br>
                                <label><b>ชื่อแผนก</b></label>
                                <input type="text" name="name_dpm" class="form-control" id="fname" placeholder="กรุณากรอกชื่อแผนก" required/>    
                                <input type="hidden" name="id_branch" value="<%= department[0].branchid_dpm %>">
                                <button type="submit" class="btn btn-success">เพิ่มข้อมูล</button>
                            </div>
            
                        </form>
                    </div>   
                    
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="/index"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                                  <li class="breadcrumb-item"><a href="/branch"><i class="fas fa-code-branch"></i> สาขา</a></li>
                                  <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-home"></i> แผนก</li>
                                </ol>
                              </nav> 
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <h2 class="title-1 m-b-25"><i class="fas fa-home"></i> แผนกของสาขา<%= branch.name_br %></h2>
                        <div class="table-data__tool-right">
                            <a class="btn btn-success" style="color: white;"  onclick="document.getElementById('popup').style.display='block'">
                                <i class="zmdi zmdi-plus"></i> เพิ่มแผนก</a>
                        </div>

            <!-------------------------------------------- table ------------------------------------->
            <% JSON.stringify(department) %>
                        <div class="table-responsive table--no-card m-b-30">
                            <table class="table table-borderless table-striped table-earning" id="datatable">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>ชื่อแผนก</th>
                                        <th class="text-right">จัดการ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(department){%>
                                        <% for(var i=0; i<department.length;i++){%>
                                    <tr>
                                        <td><%= i+1 %> </td>
                                        <td><%= department[i].name_dpm %></td>
                                    <td class="text-right">       
                                        <div class="account-wrap">
                                            <div class="account-item clearfix js-item-menu">
                                                <div class="content">
                                                    <div class="table-data-feature">
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                        <i class="zmdi zmdi-more"></i>
                                                    </button>
                                                </div>
                                                </div>
                                                <div class="account-dropdown js-dropdown">
                                                    <div class="account-dropdown__item">
                                                        <a href="/branch/department/edit<%= department[i].iddepartment %>" style="padding-right: 50%;">
                                                            <i class="fas fa-edit"></i> แก้ไขข้อมูล</a>
                                                    </div>
                                                    <div class="account-dropdown__item">
                                                        <a style="padding-right: 55%;" class="delete_department" id="<%= department[i].iddepartment %>">
                                                            <i class="fas fa-trash-alt"></i> ลบข้อมูล</a>
                                                            <input type="hidden" value=" <%= department[i].branchid_dpm %>" class="back_id">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                              
                                        </td>
                                        </tr>
                                    <%}%>
                                 <%}%> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <% if(message.length > 0) { %>
                <script>
                    swal.fire({
                    icon: "success",
                    title: "ทำการเพิ่มแผนกเรียบร้อย",
                    showConfirmButton: true,
                  },);
                </script>
            <%}%>

            <% if(message_edit.length > 0) { %>
                <script>
                    swal.fire({
                    icon: "success",
                    title: "แก้ไขข้อมูลเรียบร้อย",
                    showConfirmButton: false,
                    timer: 3500
                  },);
                </script>
            <%}%>
    <script>
        // Get the modal
        var modal = document.getElementById('popup');
      
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
      </script>
      <%- include ("../../_credit" ) %>
        <!-- END MAIN CONTENT-->
        <%- include ("../../_footer" ) %>
  
    