<%- include ("../_header" ) %>

    <body class="animsition">
        <%- include ("../_sidebar" ) %>
            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <%- include ("../_headerdesktop" ) %>
                    <!-- MAIN CONTENT-->
                    
                    <div class="main-content">
                        <div class="section__content section__content--p30">
                            <div class="container-fluid">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                      <li class="breadcrumb-item"><a href="/index"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                                      <li class="breadcrumb-item"><a href="/personnel"><i class="fas fa-users"></i> สมาชิก</a></li>
                                      <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-edit"></i> แก้ไขสมาชิก</li>
                                    </ol>
                                  </nav> 
                                <div class="row">
                                    <div class="col-lg-3"></div>
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-header"><b>แก้ไขข้อมูลสชื่อสมาชิก</b> </div><% JSON.stringify(personnel) %>
                                                <div class="card-body card-block">
                                                    <form action="/personnel/update<%= personnel.idpersonnel %>" method="post">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-group-addon"><b>ชื่อสมาชิก</b></div>
                                                                    <input type="text" id="username3" name="name_ps" class="form-control" value="<%=personnel.name_ps%>">
                                                                    <div class="input-group-addon">
                                                                        <i class="fas fa-users"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-group-addon"><b>เบอร์ติดต่อ</b></div>
                                                                    <input type="text" id="email3" name="phone_ps" class="form-control" value="<%=personnel.phone_ps%>">
                                                                    <div class="input-group-addon">
                                                                        <i class="fas fa-phone-square"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label><b>เลือกสาขา</b></label>
                                                                <select name="branchid_ps" class="form-control" required>
                                                                    <option value="">กรุณาเลือก</option>
                                                                    <% if(branch) { %>
                                                                        <% for(var i=0; i < branch.length; i++){ %>
                                                                            <option value="<%= branch[i].idbranch %>"<%if(branch[i].idbranch == personnel.branchid_ps){%>
                                                                                selected
                                                                            <%}%>>
                                                                                 <%= branch[i].name_br%>
                                                                            </option>
                                                                            <%}%>
                                                                                <%}%>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label><b>เลือกตำแหน่ง</b></label>
                                                                <select name="permissionid_ps" class="form-control" required>
                                                                    <option value="">กรุณาเลือก</option>
                                                                    <% if(permission) { %>
                                                                        <% for(var i=0; i < permission.length; i++){ %>
                                                                            <option value="<%= permission[i].idpermission %>" <%if(permission[i].idpermission == personnel.permissionid_ps){%>
                                                                                selected
                                                                            <%}%>>
                                                                                 <%= permission[i].name_pms %>
                                                                            </option>
                                                                            <%}%>
                                                                                <%}%>
                                                                </select>
                                                            </div>
                                                        <div class="form-actions
                                                            form-group">
                                                            <button
                                                                type="submit" class="btn btn-success btn-sm">ตกลง</button>
                                                        </div>
                                                    </form>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include ("../_credit" ) %>
                        <!-- END MAIN CONTENT-->

                        <%- include ("../_footer" ) %>