<%- include ("../_header" ) %>

    <body class="animsition">
        
        <%- include ("../_sidebar" ) %>
            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <%- include ("../_headerdesktop" ) %>
                <!-- MAIN CONTENT-->
                <div class="main-content">   
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="/index"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                                  <li class="breadcrumb-item active" aria-current="page""><i class="fas fa-users"></i> สมาชิก</li>
                                </ol>
                              </nav>   
                              <!-- -----------------------------------------------Tab---------------------------------------- -->
                              <h2 class="title-1 m-b-25"><i class="fas fa-users"></i> สมาชิก</h2>
                              <div class="table-data__tool-right">
                                <a class="btn btn-success" style="color: white;"  onclick="document.getElementById('popup').style.display='block'">
                                    <i class="zmdi zmdi-plus"></i> เพิ่มสมาชิก</a>
                            </div>
                            <div id="popup" class="modalx">
                                <form class="modal-content-popup animate" id="myform" action="/personnel/save" method="POST" data-toggle="validator" >
                                    <div class="imgcontainer">
                                        <span onclick="document.getElementById('popup').style.display='none'" class="close" title="Close Modal">&times;</span>  
                                    </div>
                                    <div class="container first">
                                        <p align="center"><b> เพิ่มสมาชิก</b></p><br>
                                        <label><b>ชื่อสมาชิก</b></label>
                                        <input type="text" name="name_ps" class="form-control" id="fname" placeholder="กรุณากรอกชื่อสมาชิก" required/>    
                                        <label><b>เบอร์ติดต่อ</b></label>
                                        <input type="text" name="phone_ps" class="form-control" id="lame" placeholder="กรุณากรอกเบอร์ติดต่อ" required/>
                                        <div class="form-group">
                                            <label><b>เลือกสาขา</b></label>
                                            <select name="branchid_ps" class="form-control" required>
                                                <option value="">กรุณาเลือก</option>
                                                <% if(branch) { %>
                                                    <% for(var i=0; i < branch.length; i++){ %>
                                                        <option value="<%= branch[i].idbranch %>">
                                                             <%= branch[i].name_br%>
                                                        </option>
                                                        <%}%>
                                                            <%}%>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label><b>เลือกตำแหน่ง</b></label>
                                            <select name="permissionid_ps" class="form-control" required>
                                                <option value="">กรุณาเลือก</option>
                                                <% if(permission) { %>
                                                    <% for(var i=0; i < permission.length; i++){ %>
                                                        <option value="<%= permission[i].idpermission %>">
                                                             <%= permission[i].name_pms %>
                                                        </option>
                                                        <%}%>
                                                            <%}%>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-success">เพิ่มข้อมูล</button>
                                    </div>
                    
                                </form>
                            </div>
                              <div class="card-body">
                                <div class="custom-tab">
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="custom-nav-home-tab" data-toggle="tab" href="#custom-nav-home" role="tab" aria-controls="custom-nav-home"
                                             aria-selected="true">สมาชิกทั่วไป</a>
                                            <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-profile" role="tab" aria-controls="custom-nav-profile"
                                             aria-selected="false">ผู้จัดการ</a>
                                            <a class="nav-item nav-link" id="custom-nav-contact-tab" data-toggle="tab" href="#custom-nav-contact" role="tab" aria-controls="custom-nav-contact"
                                             aria-selected="false">แอดมิน</a>
                                        </div>
                                    </nav>
                                    <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="custom-nav-home" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                                            <div class="table-responsive table--no-card m-b-30">
                                                <table class="table table-borderless table-striped table-earning" id="datatable-personnel">
                                                    <thead>
                                                        <tr>
                                                            <th>ลำดับ</th>
                                                            <th>ชื่อ</th>
                                                            <th class="text-right">จัดการ</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if(personnel1){%>
                                                            <% for(var i=0; i<personnel1.length;i++){%>
                                                        <tr>
                                                            <td><%= i+1 %> <br>
                                                            </td>
                                                            <td><%= personnel1[i].name_ps %> <br>
                                                            สาขา: <%= personnel1[i].name_br %> <br>
                                                            เบอร์ติดต่อ: <%= personnel1[i].phone_ps %></td>
                                                        <td class="text-right">       
                                                            <div class="account-wrap">
                                                                <div class="account-item clearfix js-item-menu">
                                                                    <div class="content">
                                                                        <div class="table-data-feature">
                                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                                            <i class="zmdi zmdi-more"></i>
                                                                        </button>
                                                                    </div>
                                                                    </div>
                                                                    <div class="account-dropdown js-dropdown">
                                                                        <div class="account-dropdown__item">
                                                                            <a href="/personnel/edit<%= personnel1[i].idpersonnel %>" style="padding-right: 50%;">
                                                                                <i class="fas fa-edit"></i> แก้ไขข้อมูล</a>
                                                                        </div>
                                                                        <div class="account-dropdown__item">
                                                                            <a style="padding-right: 55%;" class="delete_personnel" id="<%= personnel1[i].idpersonnel %>">
                                                                                <i class="fas fa-trash-alt"></i> ลบข้อมูล</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>                              
                                                            </td>
                                                            </tr>
                                                        <%}%>
                                                     <%}%> 
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-nav-profile" role="tabpanel" aria-labelledby="custom-nav-profile-tab">
                                            <div class="table-responsive table--no-card m-b-30">
                                                <table class="table table-borderless table-striped table-earning" id="datatable-manager">
                                                    <thead>
                                                        <tr>
                                                            <th>ลำดับ</th>
                                                            <th>ชื่อ</th>
                                                            <th class="text-right">จัดการ</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if(personnel2){%>
                                                            <% for(var i=0; i<personnel2.length;i++){%>
                                                        <tr>
                                                            <td><%= i+1 %> <br>
                                                            </td>
                                                            <td><%= personnel2[i].name_ps %> <br>
                                                            สาขา: <%= personnel2[i].name_br %> <br>
                                                            เบอร์ติดต่อ: <%= personnel2[i].phone_ps %></td>
                                                        <td class="text-right">       
                                                            <div class="account-wrap">
                                                                <div class="account-item clearfix js-item-menu">
                                                                    <div class="content">
                                                                        <div class="table-data-feature">
                                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                                            <i class="zmdi zmdi-more"></i>
                                                                        </button>
                                                                    </div>
                                                                    </div>
                                                                    <div class="account-dropdown js-dropdown">
                                                                        <div class="account-dropdown__item">
                                                                            <a href="/personnel/edit<%= personnel2[i].idpersonnel %>" style="padding-right: 50%;">
                                                                                <i class="fas fa-edit"></i> แก้ไขข้อมูล</a>
                                                                        </div>
                                                                        <div class="account-dropdown__item">
                                                                            <a style="padding-right: 55%;" class="delete_personnel" id="<%= personnel2[i].idpersonnel %>">
                                                                                <i class="fas fa-trash-alt"></i> ลบข้อมูล</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>                              
                                                            </td>
                                                            </tr>
                                                        <%}%>
                                                     <%}%> 
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-nav-contact" role="tabpanel" aria-labelledby="custom-nav-contact-tab">
                                            <div class="table-responsive table--no-card m-b-30">
                                                <table class="table table-borderless table-striped table-earning" id="datatable-admin">
                                                    <thead>
                                                        <tr>
                                                            <th>ลำดับ</th>
                                                            <th>ชื่อ</th>
                                                            <th class="text-right">จัดการ</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if(personnel3){%>
                                                            <% for(var i=0; i<personnel3.length;i++){%>
                                                        <tr>
                                                            <td><%= i+1 %> <br>
                                                            </td>
                                                            <td><%= personnel3[i].name_ps %> <br>
                                                                สาขา: <%= personnel3[i].name_br %> <br>
                                                            เบอร์ติดต่อ: <%= personnel3[i].phone_ps %></td>
                                                        <td class="text-right">       
                                                            <div class="account-wrap">
                                                                <div class="account-item clearfix js-item-menu">
                                                                    <div class="content">
                                                                        <div class="table-data-feature">
                                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                                            <i class="zmdi zmdi-more"></i>
                                                                        </button>
                                                                    </div>
                                                                    </div>
                                                                    <div class="account-dropdown js-dropdown">
                                                                        <div class="account-dropdown__item">
                                                                            <a href="/personnel/edit<%= personnel3[i].idpersonnel %>" style="padding-right: 50%;">
                                                                                <i class="fas fa-edit"></i> แก้ไขข้อมูล</a>
                                                                        </div>
                                                                        <div class="account-dropdown__item">
                                                                            <a style="padding-right: 55%;" class="delete_personnel" id="<%= personnel3[i].idpersonnel %>">
                                                                                <i class="fas fa-trash-alt"></i> ลบข้อมูล</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>                              
                                                            </td>
                                                            </tr>
                                                        <%}%>
                                                     <%}%> 
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                             <!-- -----------------------------------------------END Tab---------------------------------------- -->
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        
                        

            <!-------------------------------------------- table ------------------------------------->
                        
                    </div>
                </div>
            </div>
                <% if(message.length > 0) { %>
                    <script>
                        swal.fire({
                        icon: "success",
                        title: "ทำการเพิ่มสมาชิกเรียบร้อย",
                        showConfirmButton: true,
                      },);
                    </script>
                <%}%>

                <% if(message_edit.length > 0) { %>
                    <script>
                        swal.fire({
                        icon: "success",
                        title: "แก้ไขข้อมูลเรียบร้อย",
                        showConfirmButton: false,
                        timer: 3500
                      },);
                    </script>
                <%}%>
            </div>
    <script>
        // Get the modal
        var modal = document.getElementById('popup');
      
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
      </script>
      <%- include ("../_credit" ) %>
        <!-- END MAIN CONTENT-->
        <%- include ("../_footer" ) %>
  
    