<%- include ("../../_header.ejs") %>

<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="logo/logo_PTT_3.png" alt="logo"><hr>
                                <h3>แจ้งเหตุ</h3>
                            </a>
                        </div>
                        
                        <div class="login-form">
                            <form action="/login" method="post">
                                <div class="form-group">
                                    <label>เบอร์โทรศัพท์</label>
                                    <input class="au-input au-input--full" type="text" name="phone_ps" placeholder="กรอกเบอร์โทรศัพมือถือ" required>
                                </div>
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit"><i class="fas fa-sign-in-alt"></i> เข้าสู่ระบบ</button>
                            </form>
                            <hr>
                            <div class="register-link">
                                <p>
                                    คุณได้ลงทะเบียนเพื่อใช้งานหรือยัง?
                                    <a href="/register">คลิ๊กเพื่อลงทะเบียน</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <%- include ("../../_credit" ) %>
                </div>
            </div>
        </div>
        
        <% if(message.length > 0) { %>
            <script>
                swal.fire({
                icon: "warning",
                title: "ข้อมูลเบอร์โทรศัพท์ไม่ถูกต้อง",
                footer: "โปรดตรวจสอบข้อมูลหรือทำการลงทะเบียน",
                showConfirmButton: false,
                timer: 4500,
              },);
            </script>
        <%}%>
        <% if(message1.length > 0) { %>
            <script>
                swal.fire({
                icon: "warning",
                title: "บัญชีผู้ใช้นี้ยังไม่ได้รับการอนุมัติ",
                footer: "โปรดรอการตรวจสอบข้อมูลจากเจ้าหน้าที่",
                showConfirmButton: false,
                timer: 4500,
              },);
            </script>
        <%}%>
    </div>
    <%- include ("../../_footer.ejs") %>
