<%- include ("../../_header") %>
<% JSON.stringify(permission) %>
<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="logo/logo_PTT_3.png" alt="CoolAdmin">
                                <hr>
                                <h3>ลงทะเบียน</h3>
                            </a>
                        </div>
                        <div class="login-form">
                            <form action="/register/save" method="post">
                                <div class="form-group">
                                    <label>ชื่อ-นามสกุล</label>
                                    <input class="au-input au-input--full" type="text" name="name_ps" placeholder="ชื่อ-นามสกุล" required>
                                </div>
                                <div class="form-group">
                                    <label>เบอร์ติดต่อ</label>
                                    <input class="au-input au-input--full" type="text" name="phone_ps" placeholder="เบอร์ติดต่อ" required>
                                </div>
                                <div class="form-group">
                                    <label>เลือกสาขา</label>
                                    <select name="branchid_ps" class="form-control" required>
                                        <option value="">กรุณาเลือก</option>
                                        <% if(branch) { %>
                                            <% for(var i=0; i < branch.length; i++){ %>
                                                <option value="<%= branch[i].idbranch %>">
                                                     <%= branch[i].name_br%>
                                                </option>
                                                <%}%>
                                                    <%}%>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>เลือกตำแหน่ง</label>
                                    <select name="permissionid_ps" class="form-control" required>
                                        <option value="">กรุณาเลือก</option>
                                        <% if(permission) { %>
                                            <% for(var i=0; i < permission.length; i++){ %>
                                                <option value="<%= permission[i].idpermission %>">
                                                     <%= permission[i].name_pms %>
                                                </option>
                                                <%}%>
                                                    <%}%>
                                    </select>
                                </div>
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit"><i class="fas fa-check-circle"></i> ลงทะบียน</button>
                                </form>
                                <hr>
                                <div class="register-link">
                                    <p>
                                        กลับสู่หน้าเข้าสู่ระบบ
                                        <a href="/">คลิ๊กที่นี่</a>
                                    </p>
                                </div>
                        </div>
                    </div>
                    <%- include ("../../_credit" ) %>
                </div>
            </div>
        </div>
        
        <% if(message.length > 0) { %>
            <script>
               Swal.fire({
            icon: 'warning',
            title: 'หมายเลขเบอร์ติดต่อนี้ได้ทำการลงทะเบียนแล้ว',
            text: 'ไม่สามารถลงทะเบียนซ้ำได้',
            footer: 'กำลังทำการกลับไปหน้าลงทะเบียน',
            showConfirmButton: false,
            timer: 4500,
        });
            </script>
        <%}%>
    </div>
        <%- include ("../../_footer") %>